[Unit]
Description=Detect the available GPUs and deal with any system changes
Before=multi-user.target
Requires=basic.target

[Service]
Type=oneshot
ExecStart=/usr/bin/gpu-manager

[Install]
WantedBy=multi-user.target